header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 5px;
}

header .icon {
	margin: 0 5px 0 5px;
}

#space-cosmos {
	text-decoration: none;
	text-transform: uppercase;
}

#space-cosmos:hover {
	text-decoration: underline;
}

header > h2 > a {
	text-decoration: none;
}

#subscribe {
	font-size: 13px;
	margin-right: 5px;
}

header > ul > li > button {
	background-color: #000;
	color: #FFF;
	border-radius: 5px;
	border: 1px solid #000;
	width: 70px;
	height: 30px;
	font-size: 13px;
}
