main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin: 100px 0;
}

#article-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: left;
}

#article-header > #title {
	width: 35%;
	margin-bottom: 10px;
}

#article-header > #image-info {
	float: left;
	width: 50%;
	color: #666666;
	font-size: 14px;
}

#article-body-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: left;
}

#article-body-container > p {
	width: 32%;
	margin-bottom: 10px;
	font-size: 19px;
	color: #333333;
}

#article-body-container > iframe {
	width: 32%;
	margin: 20px;
}

#article-body-container > img {
	width: 40%;
	margin: 15px;
}
