main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin: 100px 0;
}

#article-header {
	display: block;
	width: 65%;
}

#article-header > #title {
	width: 35%;
	margin-bottom: 10px;
	text-align: left;
}

#article-header > #main-image {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#article-header > #image-info {
	float: left;
	width: 50%;
	color: #666666;
	font-size: 14px;
	text-align: left;
}
