main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin: 100px 0;
}

#article-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: left;
}

#article-header > #title {
	width: 35%;
	margin-bottom: 10px;
}
