* {
	margin: 0;
	padding: 0;
}

html, body {
	font-family: Arial, sans-serif;
	width: 100;
	height: 100%;
	box-sizing: border-box;
	text-align: center;
}

body {
	display: flex;
	flex-direction: column;
}

.list {
	list-style: none;
}

.list > li {
	display: inline;
}

a {
	color: #000;
}

.icon {
	cursor: pointer;
	padding: 5px;
}
